body{
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 24px;
    size: 100%;
    background-size: 100%;
    min-height: 100%;
}
.material-symbols{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.navbar{
    background-color: #004555;
    color: white;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 20, 24, 0.4);
    position: fixed;
}
.collapsed{
    display: none;
}
.navbar .mobile{
    display: none;
}
.navbar .mobile .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.navbar .mobile .header .more button{
    border: none;
    background-color: #004555;
    color: white;
    padding: 18px;
    cursor: pointer;
}
nav .logo{
    max-width: 120px;
    max-height: 61px;
    padding: 5px;
}
nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    transition: all 0.1s ease-in;
}
nav a:hover{
    color: black;
    background-color: #00b2aa;
    font-weight: 400;
    transform: scale(1.01);
}
nav .desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav .desktop .primary,
nav .desktop .secondary{
    display: flex;
}
nav .desktop .secondary.mini{
    display: none;
}
@media screen and (max-width: 862px) {
    nav .secondary.full{
        display: none;
    }
    nav .secondary.mini{
        display: block !important;
    }
    nav .secondary.mini .subMenu{
        background-color: #004555;
        position: absolute;
        display: none;
        width: 125px;
        right: 0;
    }
    nav .secondary.mini:hover .subMenu{
        display: block;
    }
}
@media screen and (max-width: 587px) {
    nav .desktop{
        display: none;
    }
    nav .mobile{
        display: block !important;
    }
}