body{
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 24px;
    background: #031b20 url(Images/BACKGROUND2.png) center fixed no-repeat;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.material-symbols{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
.navbar{
    background-color: #004555;
    color: white;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 20, 24, 0.5);
    position: fixed;
    z-index: 3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.collapsed{
    display: none;
}
.navbar .mobile{
    display: none;
}
.navbar .mobile .navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.navbar .desktop .secondary.mini .subMenu{
    padding-left: 10px;
    right: -25px;
}
.navbar .desktop .secondary.mini .subMenu a{
    padding: 20px 10px;
    padding-left: 20px;
    left: -10px;
    position: relative;
}
.navbar .mobile .navbar-header .more-mobile button{
    border: none;
    background-color: #004555;
    color: white;
    padding: 18px;
    cursor: pointer;
}
nav .logo{
    max-width: 120px;
    max-height: 61px;
    padding: 5px;
    transition: all 0.3s ease-out;
}
nav .logo:hover{
    transform: scale(1.05);
}
nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    transition: all 0.1s ease-in;
}
nav a:hover{
    color: #002831;
    background-color: #00b2aa;
    font-weight: 400;
    transform: scale(1.01);
}
nav .desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav .desktop .primary,
nav .desktop .secondary{
    display: flex;
}
nav .desktop .secondary.mini{
    display: none;
}
@media screen and (max-width: 862px) {
    nav .secondary.full{
        display: none;
    }
    nav .secondary.mini{
        display: block !important;
    }
    nav .secondary.mini .subMenu{
        background-color: #004555;
        position: absolute;
        display: none;
        width: 125px;
        right: 0;
        border-bottom-left-radius: 5px;
        overflow: hidden;
    }
    nav .secondary.mini:hover .subMenu{
        display: block;
    }
    .footer .desktop-footer .footer-full{
        display: none !important;
    }
    .footer .desktop-footer .footer-mini{
        display: flex !important;
    }
}
@media screen and (max-width: 587px) {
    nav .desktop{
        display: none;
    }
    nav .mobile{
        display: block !important;
    }
    .window .footer-window .cuerpo{
        font-size: 18px !important;
        padding: 15px 30px !important;
    }
    .window-2-container .window-2 .window-2-body{
        font-size: 18px !important;
        padding: 15px 30px !important;
    }
    .titulo-window div{
        font-size: 28px !important;
    }
    .titulo-window-2 div{
        font-size: 28px !important;
    }
    .window-2-container .window-2 .window-2-footer .logo-titulo{
        font-size: 24px !important;
    }
    .motto div{
        font-size: 28px !important;
    }
    .footer .desktop-footer{
        display: none !important;
    }
    .footer .mobile-footer{
        display: flex !important;
    }
}