body{
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 24px;
    background: #031b20 url(Images/BACKGROUND2.png) center fixed no-repeat;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.material-symbols{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
.navbar{
    background-color: #004555;
    color: white;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 20, 24, 0.5);
    position: fixed;
    z-index: 3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.collapsed{
    display: none;
}
.navbar .mobile{
    display: none;
}
.navbar .mobile .navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.navbar .desktop .secondary .activeOtro{
    background-color: #00b2aa;
}
.navbar .desktop .secondary .activeOtro:hover{
    background-color: #008cab;
}
.navbar .desktop .secondary.mini .subMenu{
    padding-left: 10px;
    right: -25px;
}
.navbar .desktop .secondary.mini .subMenu a{
    padding: 20px 10px;
    padding-left: 20px;
    left: -10px;
    position: relative;
}
.navbar .mobile .navbar-header .more-mobile button{
    border: none;
    background-color: #004555;
    color: white;
    padding: 18px;
    cursor: pointer;
}
nav .logo{
    max-width: 120px;
    max-height: 61px;
    padding: 5px;
    transition: all 0.3s ease-out;
}
nav .logo:hover{
    transform: scale(1.05);
}
nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    transition: all 0.1s ease-in;
}
nav a:hover{
    color: #002831;
    background-color: #00b2aa;
    font-weight: 400;
    transform: scale(1.01);
}
nav .desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav .desktop .primary,
nav .desktop .secondary{
    display: flex;
}
nav .desktop .secondary.mini{
    display: none;
}
@media screen and (max-width: 862px) {
    nav .secondary.full{
        display: none;
    }
    nav .secondary.mini{
        display: block !important;
    }
    nav .secondary.mini .subMenu{
        background-color: #004555;
        position: absolute;
        display: none;
        width: 125px;
        right: 0;
        border-bottom-left-radius: 5px;
        overflow: hidden;
    }
    nav .secondary.mini:hover .subMenu{
        display: block;
    }
    .footer .desktop-footer .footer-full{
        display: none !important;
    }
    .footer .desktop-footer .footer-mini{
        display: flex !important;
    }
}
@media screen and (max-width: 587px) {
    nav .desktop{
        display: none;
    }
    nav .mobile{
        display: block !important;
    }
    .window .footer-window .cuerpo{
        font-size: 18px !important;
        padding: 15px 30px !important;
    }
    .window-2-container .window-2 .window-2-body{
        font-size: 18px !important;
        padding: 15px 30px !important;
    }
    .titulo-window div{
        font-size: 28px !important;
    }
    .titulo-window-2 div{
        font-size: 28px !important;
    }
    .window-2-container .window-2 .window-2-footer .logo-titulo{
        font-size: 24px !important;
    }
    .motto div{
        font-size: 28px !important;
    }
    .footer .desktop-footer{
        display: none !important;
    }
    .footer .mobile-footer{
        display: flex !important;
    }
    .tilt-container .tilt-card .ceo .datos-ceo .nombre{
        font-size: 40px !important;
    }
    .tilt-container .tilt-card .ceo .datos-ceo .cargo{
        font-size: 20px !important;
    }
    .tilt-container .tilt-card .qr-code{
        width: 140px !important;
        height: 140px !important;
    }
    .tilt-container .tilt-card .datos{
        font-size: 18px !important;
    }
}
.hacked{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 92%;
    margin: 0 auto;
    justify-content: center;
}
.hacked div{
    font-family: "Futura"; 
    font-weight: bolder;
    text-align: center;
}
.titulo-window{
    top: 73px;
}
.titulo-window div{
    font-size: 32px;
    color: #BBC3D1;
}
.tilt-container{
    margin: 0 auto;
    width: 92%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 79px;
}
.tilt-container .tilt-card{
    width: 100%;
    background: rgba(178, 178, 178, 0.35);
    border-radius: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.28);
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-between;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.tilt-container .tilt-card .ceo{
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.tilt-container .tilt-card .ceo .datos-ceo{
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}
.tilt-container .tilt-card .ceo .datos-ceo .nombre{
    font-size: 49px;
    color: #00333e;
}
.tilt-container .tilt-card .ceo .datos-ceo .cargo{
    font-size: 20px;
    color: #00b2aa;
}
.tilt-container .tilt-card .ceo .mini-logo{
    width: 140px;
    height: 88px;
}
.tilt-container .tilt-card:hover .ceo{
    transform: translateZ(30px);
}
.tilt-container .tilt-card .qr-code{
    width: 160px;
    height: 160px;
    transition: all 0.2s ease-in-out;
}
.tilt-container .tilt-card:hover .qr-code{
    transform: translateZ(30px);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
}
.tilt-container .tilt-card .datos{
    list-style: none;
    margin: auto 0;
    font-size: 24px;
    color: #00b2aa;
}
.tilt-container .tilt-card:hover .datos{
    transform: translateZ(30px);
}
.motto{
    top: 100px;
}
.motto div{
    font-size: 32px;
    color: #BBC3D1;
    text-align: center;
}




.footer{
    background-color: #004555;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 120px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px -4px 4px rgba(0, 20, 24, 0.5);
}
.footer .desktop-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer .desktop-footer .perfil-footer{
    width: 200px;
    height: 210px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #002831;
}
.footer .desktop-footer .perfil-footer img{
    transition: all 0.3s ease-out;
}
.footer .desktop-footer .perfil-footer img:hover{
    transform: scale(1.05);
}
.footer .desktop-footer .perfil-footer a{
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #031b20;
    position: relative;
    padding: 7px;
    padding-top: 10px;
    top: 15px;
    left: -5px;
    border-radius: 18px;
    transition: transform 0.1s ease-in-out;
}
.footer .desktop-footer .perfil-footer a:hover{
    background-color: #010c0e;
    transform: scale(1.01);
}
.footer .desktop-footer .perfil-footer .personas-container{
    width: 500px;
    position: relative;
    top: 30px;
    left: -5px;
    display: flex;
}
.footer .desktop-footer .perfil-footer .personas-container .persona{
    position: relative;
    margin-right: -15px;
    display: inline-flex;
    flex-direction: column;
}
.footer .desktop-footer .perfil-footer .personas-container .persona .name{
    position: absolute;
    background-color: #25353a;
    color: #BBC3D1;
    min-width: 100px;
    width: 100px;
    top: 50px;
    left: 15px;
    border-radius: 8px;
    display: none;
    height: 25px;
    padding: 4px;
}
.footer .desktop-footer .perfil-footer .personas-container .persona:hover .name{
    display: inline-block;
}
.footer .desktop-footer .perfil-footer .personas-container .persona:hover .name::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    border-top: solid 5px transparent;
    border-left: solid 5px transparent;
    border-bottom: solid 5px #25353a;
    border-right: solid 5px transparent;
    top: -10px;
}
.footer .desktop-footer .perfil-footer .personas-container .persona .name .text{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    width: 100px;
    position: relative;
    top: 4px;
}
.footer .desktop-footer .perfil-footer .personas-container .persona img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 2px #00b2aa;
    transition: all 0.3s ease-in-out;
}
.footer .desktop-footer .perfil-footer .personas-container .persona img:hover{
    transform: translateY(-3px);
    border: solid 2px #007690;
}
.footer .desktop-footer .footer-full{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
    font-size: 21px;
}
.footer .desktop-footer .footer-full .servicios{
    background-color: #003b48;
    padding: 12px;
    padding-right: 0;
    border-radius: 10px;
    margin: 10px;
    height: 150px auto;
    width: auto;
    color: #00b2aa;
}
.footer .desktop-footer .footer-full .tecnologias{
    background-color: #003b48;
    padding: 12px;
    padding-right: 0;
    border-radius: 10px;
    margin: 10px;
    height: 150px auto;
    width: auto;
    color: #00b2aa;
}
.footer .desktop-footer .footer-full ul{
    list-style: none;
    columns: 2;
    margin: 0;
    margin-top: 10px;
    color: #BBC3D1;
}
.footer .desktop-footer .footer-full ul li{
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    left: -30px;
}
.footer .desktop-footer .footer-mini{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
    font-size: 21px;
    position: relative;
    left: -40px;
}
.footer .desktop-footer .footer-mini .servicios{
    background-color: #003b48;
    padding: 12px;
    padding-right: 0;
    border-radius: 10px;
    margin: 10px;
    height: 150px auto;
    width: auto;
    color: #00b2aa;
}
.footer .desktop-footer .footer-mini ul{
    list-style: none;
    columns: 2;
    margin: 0;
    margin-top: 10px;
    color: #BBC3D1;
}
.footer .desktop-footer .footer-mini ul li{
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    left: -30px;
}
.footer .mobile-footer{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer .mobile-footer .perfil-footer{
    width: 200px;
    height: 210px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #002831;
}
.footer .mobile-footer .perfil-footer img{
    transition: all 0.3s ease-out;
}
.footer .mobile-footer .perfil-footer img:hover{
    transform: scale(1.05);
}
.footer .mobile-footer .perfil-footer a{
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #031b20;
    position: relative;
    padding: 7px;
    padding-top: 10px;
    top: 15px;
    left: -5px;
    border-radius: 18px;
    transition: transform 0.1s ease-in-out;
}
.footer .mobile-footer .perfil-footer a:hover{
    background-color: #010c0e;
    transform: scale(1.01);
}
.footer .mobile-footer .perfil-footer .personas-container{
    width: 320px;
    position: relative;
    top: 30px;
    left: -5px;
    display: flex;
}
.footer .mobile-footer .perfil-footer .personas-container .persona{
    position: relative;
    margin-right: -15px;
    display: inline-flex;
    flex-direction: column;
}
.footer .mobile-footer .perfil-footer .personas-container .persona .name{
    position: absolute;
    background-color: #25353a;
    color: #BBC3D1;
    min-width: 100px;
    width: 100px;
    top: 50px;
    left: 15px;
    border-radius: 8px;
    display: none;
    height: 25px;
    padding: 4px;
}
.footer .mobile-footer .perfil-footer .personas-container .persona:hover .name{
    display: inline-block;
}
.footer .mobile-footer .perfil-footer .personas-container .persona:hover .name::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    border-top: solid 5px transparent;
    border-left: solid 5px transparent;
    border-bottom: solid 5px #25353a;
    border-right: solid 5px transparent;
    top: -10px;
}
.footer .mobile-footer .perfil-footer .personas-container .persona .name .text{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    width: 100px;
    position: relative;
    top: 4px;
}
.footer .mobile-footer .perfil-footer .personas-container .persona img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 2px #00b2aa;
    transition: transform 0.3s ease-in-out;
}
.footer .mobile-footer .perfil-footer .personas-container .persona img:hover{
    transform: translateY(-3px);
}
.footer hr{
    width: 98%;
    height: 4px;
    background-color: #003946;
    border: none;
    padding: 0;
    border-radius: 2px;
}
.footer .copy-r{
    font-family: Arial, Helvetica, sans-serif;
    color: #002b35;
    display: flex;
    position: relative;
    top: -5px;
    justify-content: center;
    font-size: 12px;
    padding-bottom: 5px;
}